<html>
<div id="global">    
    <head>
       <!-- <link rel="stylesheet" href="estilo.css"> -->
        {% load static %}

        <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'app/iconos' %}">
        <link rel="stylesheet" href="{% static 'app/imagenes' %}">
    </head>

<body>
    <div class="header">
        <a href="/"><img src="/static/app/imagenes/logo_main.png" id="logo"></a>
         <div class="header-right">
             <a href="https://twitter.com/DrScratchTool"><img src="/static/app/iconos/twitter.png" href="https://twitter.com/DrScratchTool" id="twitter"></a>
             <a href="mailto:drscratch@programamos.es"><img src="/static/app/iconos/mail.png" href="mailto:drscratch@programamos.es" id="mail"></a>
             <!--<a href="#preguntas"><img src="/static/app/iconos/twopoints.png" id="preguntas"></a>-->
         </div>
    </div> 

    <div class="criterios">
        <table>
            <caption>CRITERIOS FASCINANTES</caption>
            <tr>
                <th style="text-align:left">Nombre del Juego</th>
                <th class="nombrecriterio">Bucle Anidado
                    <span class="tooltip">
                       ¿esta algun bucle contenido dentro de otro bucle?
                    </span></th>
                <th class="nombrecriterio">Uso de colores
                    <span class="tooltip">
                        ¿existen bloques que cambien el color del lapiz?
                    </span></th>
                <th class="nombrecriterio">Figuras Geometricas
                    <span class="tooltip">
                        ¿grado de giro de figuras superior a 360 grados?
                    </span></th>
                <th class="nombrecriterio">Movimientos del Artista
                    <span class="tooltip">
                        ¿existen bloques de orientacion en el codigo?
                    </span></th>
                {% for obj in dic %}
                <tr>               
                <td><span>{{ obj.filename }}</span></td>
                {% if obj.anidado == 3 %}
                <td><span class="dot3"></span></td>
                {% elif obj.anidado == 2 %}
                <td><span class="dot2"></span></td>
                {% elif obj.anidado == 1 %}              
                <td><span class="dot1"></span></td>
                {% else %}
                <td><span class="dot0"></span></td>
                {% endif %}
                {% if obj.colores == 3 %}
                <td><span class="dot3"></span></td>
                {% elif obj.colores == 2 %}
                <td><span class="dot2"></span></td>
                {% elif obj.colores == 1 %}              
                <td><span class="dot1"></span></td>
                {% else %}
                <td><span class="dot0"></span></td>
                {% endif %}
                {% if obj.geometricas == 3 %}
                <td><span class="dot3"></span></td>
                {% elif obj.geometricas == 2 %}
                <td><span class="dot2"></span></td>
                {% elif obj.geometricas == 1 %}              
                <td><span class="dot1"></span></td>
                {% else %}
                <td><span class="dot0"></span></td>
                {% endif %}
                {% if obj.artista == 3 %}
                <td><span class="dot3"></span></td>
                {% elif obj.artista == 2 %}
                <td><span class="dot2"></span></td>
                {% elif obj.artista == 1 %}              
                <td><span class="dot1"></span></td>
                {% else %}
                <td><span class="dot0"></span></td>
                {% endif %}
                <td><span>Obtuviste {{ obj.points }} ptos</span></td>               
                </tr>
                {% endfor %}
        </table>

    </div>


    <div class="ambos">

    <div class="artista">
        <table>
            <tr>
                <td><span>  <img src="/static/app/imagenes/monito2.png" id="monito"></span> </td>
                <td id="tips"><p>esto es tips genericos</p>
                    en este apartado podras encontrar recomendaciones
                    para la creacion de tus juegos de una forma mas optima
                </td>
            </tr>
            
        </table>
    </div>
    

    <div class="compartir">
        <table>
                <caption>COMPARTIR CON TUS AMIGOS</caption>
            <tr>
                <th><a href="https://facebook.com"><img src="/static/app/iconos/facebook.png" id="facebook"></a></th>
                <th><a href="https://instagram.com"><img src="/static/app/iconos/instagram.png" id="instagram"></a></th>
                <th><a href="https://linkedin.com"><img src="/static/app/iconos/linkedin.png" id="linkedin"></a></th>
            </tr>
        </table>
    </div> 

   </div>

   <div>
       <table>
           <caption><p>©2014 Dr. Scratch is powered by<a href="https:/github.com/ucsb-cs-education/hairball" class="dark-text">Hairball</a></p>
     </caption>
       </table>
   </div>

</body>

</html>